services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile.gateway
    container_name: gateway
    ports:
      - "80:80"
    depends_on:
      - app
    restart: unless-stopped

  app:
    build: .
    container_name: my-nodejs-app
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./db/app.db:/app/db/app.db
    restart: unless-stopped
