<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="icon" type="image/x-icon" href="/img/bookshelf.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Tyler Reilly doin stuff</title>

</head>
<style>
	.whiteText{
		color:white;
	}
	.nav-link {
		color:white;
	}
</style>
<body background="https://t4.ftcdn.net/jpg/03/40/07/85/360_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg"><!--Comments and stuff -->
	{{> header}}
<!-- Not sure if this will be only the latest book review or a page of book reviews, but this is where they will live-->
		<div class="container">
			<h1 class="whiteText">Latest Book Reviews</h1>

			<br/>
			<br/>
			<img src="/img/WayOfKings.jpg" alt="WayOfKings"/>
			<h2 class="whiteText">The Way of Kings</h2>
			<h3 class="whiteText">By Brandon Sanderson</h3>
			<p class="whiteText">
				Overall this book is a 10 out of 10. After trying to get into it two times previously, I gave it one more go. And thankfully, I got over the hump and was able to immerse myself in the world Brandon Sanderson built. If you like Game Of Thrones and Star Wars, this book is for you!
			</p>
		</div>
	</body>
</html>
