<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="icon" type="image/x-icon" href="/img/bookshelf.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Tyler's Library</title>
<!--Just using bootstrap icons, nothing else for bootstrap, sad face emoji here lol-->
</head>
<style>
	.whiteText{
		color:white;
	}
	.nav-link {
		color:white;
	}

</style>
<body background="https://t4.ftcdn.net/jpg/03/40/07/85/360_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg"><!--Comments and stuff -->
	{{> header}}

		<div class="container">
			<h1 class="whiteText">Tyler's Library</h1>
			<br/>
			<br/>
<!--This is the intro page and welcome page of the site.-->
			<p style="font-size: 24px;" class="whiteText">
				This is the site where I will be keeping up to date my current book logs and reviews of books I've been reading. I try to read about two hours every day for fun, and this will be where I track that time and the books I've been reading. I will also be reviewing and giving recommendations based on the what they were about or what they were similar to. Please stick around and let me know any good book recommendations!
			</p>
			<p style="font-size: 24px;" class="whiteText">-Tyler</p>
		</div>
	</body>
</html>
