<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="icon" type="image/x-icon" href="/img/bookshelf.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Tyler Reilly doin stuff</title>

</head>
<style>
	.whiteText{
		color:white;
	}
	.nav-link {
		color:white;
	}
</style>
<body background="https://t4.ftcdn.net/jpg/03/40/07/85/360_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg"><!--Comments and stuff -->
	{{> header}}
<!--As I read books, this list will change. Probably only going to keep the last three or four books in this list. Starting with these two for now.-->
		<div class="container">
			<h1 class="whiteText">Latest Books I've Read</h1>

			<br/>
			<br/>
			<img src="/img/WayOfKings.jpg" alt="WayOfKings"/>
			<h2 class="whiteText">The Way of Kings</h2>
			<h3 class="whiteText">By Brandon Sanderson</h3>
			<br/>
			<br/>
			<img src="/img/ThePhoenixProject.jpg" alt="ThePhoenixProject"/>
			<h2 class="whiteText">The Phoenix Project</h2>
			<h3 class="whiteText">By Gene Kim, Kevin Behr and George Spafford</h3>
		</div>
	</body>
</html>
