<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="icon" type="image/x-icon" href="/img/bookshelf.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Tyler Reilly doin stuff</title>

</head>
<style>
	.whiteText{
		color:white;
	}
	.nav-link {
		color:white;
	}
</style>
	<body background="https://t4.ftcdn.net/jpg/03/40/07/85/360_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg"><!--Comments and stuff -->
	{{> header}}
		<h2>Reset Password</h2>
		<div class="login-container">
			<form action="/resetPassword" method="POST">
				<input type="hidden" name="token" value="{{token}}">
				<input type="password" name="password" placeholder="New password">
				<button type="submit">Reset Password</button>
			</form>
		</div>
	</body>
</html>
