<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="icon" type="image/x-icon" href="/img/bookshelf.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Tyler Reilly doin stuff</title>

</head>
<style>
	.whiteText{
		color:white;
	}
	.nav-link {
		color:white;
	}
</style>
<body background="https://t4.ftcdn.net/jpg/03/40/07/85/360_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg"><!--Comments and stuff -->
	{{> header}}
<!--This is where I will continuously be keeping the queue of books I am reading up to date. As New books get added this will get updated-->
		<div class="container">
			<h1 class="whiteText">Upcoming Books to Read</h1>

			<br/>
			<br/>
			<h2 class="whiteText">(Currently Reading and Almost Done)</h2>
			<br/>
			<br/>
			<img src="/img/WordsOfRadiance.jpg" alt="WordsOfRadiance"/>
			<h2 class="whiteText">Words Of Radiance</h2>
			<h3 class="whiteText">By Brandon Sanderson</h3>
			<br/>
			<br/>
			<h2 class="whiteText">Next In Queue</h2>

			<br/>
			<br/>
			<img src="/img/UnicornProject.jpg" alt="UnicornProject"/>
			<h2 class="whiteText">The Unicorn Project</h2>
			<h3 class="whiteText">By Gene Kim</h3>


			<br/>
			<br/>
			<img src="/img/WarBreaker.jpg" alt="WarBreaker"/>
			<h2 class="whiteText">WarBreaker</h2>
			<h3 class="whiteText">By Brandon Sanderson</h3>

		</div>
	</body>
</html>
