body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.whiteText{
    color:white;
}
.nav-link {
    color:white;
}
.header {
    background-color: #333;
    color: white;
    padding: 10px;
    width:900px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
nav{
    width: 1000px;
    margin: 0 auto;
    text-align: center;

}
p, h1, h2, h3, h4, h5, h6, .login-container {
    width: 900px;
    margin: 1em auto;  
    padding: 0.5em 1em;     
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;           
    border-radius: 6px;     
  } 
img {
    display: block;
    width: 750px;
    margin: 0 auto;
  }


  